{% load static %}

<div id="mobile-social" >
   <div id="mobile-social-inside" style="display: inline-block">
        <div>
           <a href="#" target="_blank">
           <img src="{%static 'blog/logo.png'%}" alt="github" height="30px" width="30px">
           </a>
        </div>
        <div>
           <a href="#" target="_blank"><img src="{%static 'blog/logo.png'%}" alt="hackerrank" height="30px" width="30px">
           </a>
        </div>
        <div>
           <a href="#" target="_blank"><img src="{%static 'blog/logo.png'%}" alt="instagram" height="30px" width="30px">
           </a>
        </div>
        <div>
           <a href="#" target="_blank"><img src="{%static 'blog/logo.png'%}" alt="linkedin" height="30px" width="30px">
           </a>
        </div>
   </div>
</div>